<app-navbar></app-navbar>

<h2 class="display-1 text-center mt-5"> Atividade 2 </h2>

<h2 class="mx-5 my-2"> Feito por: João Pedro Moura Tuneli - RM93530 </h2>
<h2 class="mx-5 my-2"> Feito por: Abner Aragon - RM93688 </h2>

<div class="border border-primary rounded-3 border-5 p-2 mx-5">
  <h2>Exercício 1:</h2>
    <ul>
        <li>Criar um mock(<a href="http://mockable.io/">mockable.io</a>) utilizar como base a lista da API <a href="https://demo1290477.mockable.io/pockemon">https://demo1290477.mockable.io/pockemon</a></li>
        <li>Criar um componente para listar os 20 pokemons.</li>
    </ul>
    <h2>Exercício 2:</h2>
    <ul>
        <li>Consumir a API do IBGE (<a href="https://servicodados.ibge.gov.br/api/v1/localidades/estados">https://servicodados.ibge.gov.br/api/v1/localidades/estados</a>) e mostrar em uma tabela --> id, sigla e nome.</li>
    </ul>
</div>




